body{
    background-image: url(images/backgroundtexture.png);
    /*background-image: linear-gradient(#F72E86, #F72E86 5%, #DDCCC3 25%, #DDCCC3 65%, #46B8B5 100%);*/
}

/*PART ONE*/
.lineone{
    display: flex;
    flex-direction: row;
    margin-top: 5vw;
}

.leftone{
    flex: 35%;
    height: auto;
    margin-right: 10px;
}

.rightone{
    flex: 65%;
    height: auto;
}

.linetwo{
    margin: auto;
    padding: auto;
    width: 95%;
}

.linethree{
    margin: auto;
    padding: auto;
    width: 30%; 
    margin-top: 15px;
}

/*PART TWO*/
.linefour{
    margin: auto;
    padding: auto;
    width: 95%; 
}

.sticky{
    position: sticky;
    top: 0;
    background-image: url(images/backgroundtexture.png);
    padding-top: 20px;
    padding-bottom: 10px;
}

.lineeight{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: auto;
    width: 95%;  
    margin-top: 5px;
}

.lineeightleft{
    flex: 20%;
    height: auto;
    margin-right: 10px;
}

.lineeightright{
    flex: 80%;
    height: auto;
}

.linefourpointone, .linefive, .linesix, .lineseven, .lineten, .lineeleven, .lineeightrest {
    margin: auto;
    padding: auto;
    width: 95%;  
    margin-top: 5px;
}

.linenine{
    margin: auto;
    margin-top: 5px;
    padding: auto;
    width: 95%;    
}

/*PART THREE*/
.lastblock{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: auto;
    width: 95%;
    margin-top: 10px;
    margin-bottom: 80px;
}

.lbleft{
    flex: 50%;
    margin-right: 10px;
}

.lbright{
    flex: 50%;
}

.lblone{
    width: 80%;
}

.lbrone{
    display: flex;
    justify-content: center;
}

.lbrtwo{
    margin-top: 10px;
}

.lblfour{
    margin-top: 30px;
}

.lineseven{
    animation: tilt 1.3s infinite;
}

@keyframes tilt {
    0% { transform: translateX(0) }
    25% { transform: translateY(0) }
    35% { transform: rotate(5deg) }
    55% { transform: rotate(-5deg) }
    65% { transform: rotate(5deg) }
    75% { transform: rotate(-5deg) }
    100% { transform: rotate(0) }
}

/*SCREENS OVER 550PX*/
@media screen and (min-width: 550px ) {
    body{
        margin: auto;
        padding: auto;
        width: 80%;
    }

    .lineone{
        margin-top: 5vw;
        margin-bottom: 15px;
    }

    .leftone{
        margin-right: 50px;
    }

    .linethree{
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .linefive{
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .linefourpointone{
        margin-top: 50px;
    }
    .lineseven{
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .linenine{
        margin-top: 30px;
    }

    .lineeightleft{
        margin-right: 50px;
    }

    .lineeightright{
        margin-bottom: 30px;
    }

    .lastblock{
        margin-top: 30px;
    }
    
    .lbleft{
        margin-right: 50px;
    }

    .lbltwo{
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .lblthree{
        margin-bottom: 30px;
    }

    .lbrtwo{
        margin-top: 45px;
    }

    .lblfour svg:hover{
        transform: scale(1.2);
    }
}
