body{
    background-image: linear-gradient(#F72E86, #F72E86 5%, #DDCCC3 25%, #DDCCC3 65%, #46B8B5 100%);
}

/*PART ONE*/
.lineone{
    display: flex;
    flex-direction: row;
    margin-top: 5vw;
}

.leftone{
    flex: 35%;
    height: auto;
    margin-right: 10px;
}

.rightone{
    flex: 65%;
    height: auto;
}

.linetwo{
    margin: auto;
    padding: auto;
    width: 95%;
}

.linethree{
    margin: auto;
    padding: auto;
    width: 95%; 
    margin-top: 10px;
}

/*PART TWO*/
.linefour, .linefive, .linesix, .lineseven, .lineeight, .lineten, .lineeleven {
    margin: auto;
    padding: auto;
    width: 95%;  
    margin-top: 5px;
}

.linenine{
    margin: auto;
    margin-top: 5px;
    padding: auto;
    width: 95%;    
}

/*PART THREE*/
.lastblock{
    margin: auto;
    padding: auto;
    width: 95%;  
    margin-top: 10px; 
}

.linetwelve{
    margin: auto;
    padding: auto;
    width: 95%;  
    margin-top: 15px;
    margin-bottom: 50px;
}

/*SCREENS OVER 500PX*/
@media screen and (min-width: 500px ) {
    body{
        margin: auto;
        padding: auto;
        width: 80%;
    }

    .lineone{
        margin-top: 10vw;
        margin-bottom: 15px;
    }

    .leftone{
        margin-right: 50px;
    }

    .linethree{
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .linefive{
        margin-top: 50px;
        margin-bottom: 50px;
    }

        
    .lineseven{
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .linenine{
        margin-top: 30px;
    }

    .lastblock{
        margin-top: 50px;
        margin-bottom: 150px;
    }

    .linetwelve{
        margin-bottom: 300px;
    }
}
